body, html{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.App {
  text-align: center;
}






.map-iframe{
  border: none;
  width: 800px;
  height: 800px;
}












/* COMPANY SELECT */

.company-selector{
  cursor: pointer;
}