:root{
  --semi-light: #CDCDCD;
  --semi-dark: #7a7a7a;  
  --light: #d6d6d6;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  overflow-x: hidden;
}

.App {
  text-align: center;
  width: 100%;

  margin: 0 auto;
}

@media only screen and (max-width: 100px){
  .App{
    widows: 100%;
  }
}

.main-container{
  width: 95%;
  margin: 0 auto;
}



/* HEADER */

.header{
  height: 900px; 
  background-image: url(https://images.pexels.com/photos/279719/pexels-photo-279719.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-overlay{
  height: 100%;
  width: 100%;
  
  animation-name: overlay-reveal;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  background-color: white;

  display: flex;
  margin: auto;
}

.header-overlay div{
  width: 100%;
  height: 4em;
  margin: auto;
  text-align: center;
  font-size: 2em;
  color: white;
}


@keyframes overlay-reveal{
  from{
    background-color: white;
    color: white;
  }
  to{
    color: var(--light);
    background-color: #7c7c7cab; 
  }
}



/* INTRO */

.intro{
  border-bottom: 2px dashed var(--semi-dark);
}

.intro p{
  max-width: 800px;
  margin: 2em auto;
}




/* PLOT CONTAINER */

.plot-container{
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: auto auto; 

  grid-template-areas:
  "content content"
  "map bar";

  border-bottom: 3px solid var(--semi-light);
}

.content-container{
  grid-area: content;
  text-align: left;
  color: var(--semi-dark);
}

.content-container h2{
  text-align: center;
}


.map-iframe, .barplot-iframe{
  border: none;
  width: 100%;
}

.map-iframe{
  grid-area: map;
  height: 500px;
  
}

.barplot-iframe{
  grid-area: row;
  height: 500px;
}

@media only screen and (max-width:1000px){
  .plot-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "content"
    "bar"
    "map";
  }

  .map-iframe{
    height: 400px;
    width: 200%;
    margin-left: -50%;
  }
  .barplot-iframe{
    height: 400px;
  }
}












/* COMPANY SELECT */
.company-select-container{
  text-align: left;
}
.company-selector{
  display: inline-block;
  margin: 0 0.5em 1em; 
  padding: 0 0.25em;
  text-transform: capitalize;
  text-align: left;
  cursor: pointer;
}


.selected-true{
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.selected-false{
  color: var(--semi-light);
}




/* CONCLUSION */

.conclusion{
  border-bottom: 2px dashed var(--semi-dark);
}


/* FOOTER */

.footer{
  text-align: left;
  color: var(--semi-dark);
}