body, html{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.App {
  text-align: center;
  width: 95%;

  margin: 0 auto;
}

@media only screen and (max-width: 100px){
  .App{
    widows: 100%;
  }
}




/* PLOT CONTAINER */

.plot-container{
  display: grid;
  grid-template-columns: 5fr 3fr;

  border-bottom: 4px solid black;
}

.map-iframe, .barplot-iframe{
  border: none;
  width: 100%;
}

.map-iframe{
  height: 500px;
}

.barplot-iframe{
  height: 500px;
}

@media only screen and (max-width:1000px){
  .plot-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "bar"
    "map";
  }

  .map-container{
    grid-area: map
  }
  
  .barplot-container{
    grid-area: bar
  }

  .map-iframe{
    height: 400px;
  }
  .barplot-iframe{
    height: 400px;
  }
}












/* COMPANY SELECT */
.company-select-container{
  text-align: left;
}
.company-selector{
  display: inline-block;
  margin: 0 0.5em; 
  text-transform: capitalize;
  text-align: left;
  cursor: pointer;
}